# Dossiers générés automatiquement par Python
__pycache__/
*.pyc

# Environnements virtuels
venv/
.env/

# Fichiers de configuration spécifiques à l'IDE
.vscode/
.idea/

# Fichiers de logs et autres fichiers temporaires
*.log
*.tmp

# Sauvegardes automatiques et manuelles
data/backups/automatic/*.json
data/backups/manual/*.json

# Autres fichiers
*.orig
*.DS_Store
